.boxML{

    overflow-y: scroll;
    position: fixed;
    top: 0px;
    width: 500px;
    right: 0;   
    bottom: 0;
    background-color: var(--preta);
    border-radius: 0px 0px 10px 10px;
    border-left: 2px solid #86F5FF;
    border-bottom: 2px solid #86F5FF;
    z-index: 2;
    
}


.boxIconClose{

    width: 100%;
    padding: 5px;
    text-align: right;
   
    

}

.iconClose{

   width: 25px;
   height: fit-content;
   cursor: pointer;
   transition: all 500ms;

}

.iconClose:hover{

    color: red;
    transition: all 500ms;
}
    


    
    

.boxML::-webkit-scrollbar{

    width: 5px;
    background-color:black;
    border-radius: 5px;
}

.boxML::-webkit-scrollbar-thumb{

    background-color:var(--azul);
    border-radius: 10px;
    width: 2px;
   
}

.cardMl{

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    

}

.iconCar{

    width: 30px;
    height: fit-content;
}

.iconCar:hover{

    cursor: pointer;
    color: #05E5FA;
}

.card{

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    border-radius: 8px;
    width: 100%;

   
}

.conteudo{

    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    width: 100%;
    
}

.imgProd{

    border-radius: 50%;
}




.boxInfo h4{

   font-size: 0.8rem;
    
   margin-bottom: 5px;
}


.card:hover{

    background-color: var(--azul);
}



.cardOn{

transform: translate(0);
transition: all 400ms ease-in-out;

}

.cardOff{

    transform: translateX(100%);
    transition: all 400ms ease-in-out;
}


.boxLoading{

    text-align: center;
    margin-top: 40px;
}

.msgCarrega{

width: 100%;
text-align: center;
align-content: center;
padding-bottom: 20px;
text-transform: capitalize;


}


.iconCircle{

    animation: moveCircle 1s linear infinite;
    color: red;
    width: 25px;
    height: 25px;
}



@media screen and (max-width:970px) {

        

}


@media screen and (max-width:650px) {

 

    .boxML{

    
        bottom: 0;
        
        top: auto;
        height: 400px;
       width: 100%;
        border: none;
       overflow:auto;
       

    }

   
    .card{

        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .conteudo{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        
    }

     .boxInfo {

        text-align: center;
        padding: 10px;
        width: 100%;
        
    }

    .boxInfo p {

        padding: 10px;
    }

}   

    




@keyframes moveCircle {

    to{

        transform: rotate(360deg);
        transition: all 1s linear;
      
    }

}


