.boxModal{

    width: 500px;
    height: 500px;
    position: absolute;
    top: 63px;
    z-index: 2;
    background-color: black;
    color: white;
    cursor: auto;
    box-shadow: 0px 0px 15px #86F5FF;
   
    
}

.boxFilhoModal{

   
    padding: 20px 0px;
    width: 500px;
    height:450px;
    overflow-y: scroll;
    
    
}
    
   
    


.boxFilhoModal::-webkit-scrollbar{

    width: 3px;
    background-color: black;
}

.boxFilhoModal::-webkit-scrollbar-thumb{

    background-color: #86F5FF;
    border-radius: 20px;
    
}

    




.boxModal h1 {

    width: 100%;
    text-align: center;
    padding: 20px 10px;

}

.boxCard{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
   
}


.boxCard{

    margin-bottom: 10px;
}


.boxMsgModal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
 

}


.boxInfo{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}



.boxTx > p {

    padding: 2px;
}

.imageProduto{

   width: 80px;
    height: 80px;
    border-radius: 50%;
    flex: none;
}

.iconTrash{

    width: 20px;
    height: 20px;
    color: red; 
    cursor: pointer;  
    flex: none;
}

.boxFlexMais{

    
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.boxMais{

    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    
    outline: 1px solid #86F5FF;
    padding: 5px;
    border-radius: 5px;
}


.boxTotal{

    
    padding: 15px 5px;
    text-align: right;
}

.boxMais > p:not(p:nth-of-type(2)){

    width: 20px;
    height:20px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor:pointer;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #86F5FF;
}


@media screen and (max-width:970px) {

    .boxModal{

        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        top: auto;
        width: 100%;
        
    }

    .boxFilhoModal{

        width: 100%;
    }


        .boxMais{

            width: 100px;
            justify-content: space-between;
            
        }
    

    .boxCard{

           
        justify-content: space-between;
        padding: 0px 20px;
        gap: 20px;

    }


    

    

}



@media screen and (max-width:410px) {


     .boxCard{

        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 50px;
        
        } 
        
     
     
     .iconTrash{

        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 40px;
        height: 40px;

     }


     .boxFlexMais{

        width: 100%;
     }

     .boxMais{

        width: 60%;
        padding: 5px;
        display: flex;
       
     }

     .boxMais > p {

        min-width: 35px;
        min-height: 35px;
        font-size: 2rem; 
        text-align: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        
     }


}






