


.boxModal{

    position: absolute;
    top: 63px;
    z-index: 2;
    background-color:gray;
    width: 500px;
    height: 500px;
    background-color: black;
    color: white;
    cursor: auto;
    overflow: auto;
    box-shadow: 0px 0px 15px #86F5FF;
   
}
    


.boxModal::-webkit-scrollbar{

    width: 3px;
    background-color: black;
}

.boxModal::-webkit-scrollbar-thumb{

    background-color: #86F5FF;
    border-radius: 20px;
    
}

    




.boxModal h1 {

    width: 100%;
    text-align: center;
    padding: 20px 10px;

}

.boxCard{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
}


.boxCard{

    margin-bottom: 10px;
}


.boxMsgModal{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
 

}


.boxInfo{

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.boxTx > p {

    padding: 2px;
}

.imageProduto{

   width: 80px;
    height: 80px;
    border-radius: 50%;
    flex: none;
}

.iconTrash{

    width: 20px;
    height: 20px;
    color: red; 
    cursor: pointer;  
}






